header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
}

.title {
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

:host::ng-deep router-outlet + * {
  display: block;
  padding: 30px;
}

.router-outlet-wrapper {
  padding-top: 64px;
  width: 100%;
  min-height: calc(100% - 64px);
}
