<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <a mat-button class="title" routerLink="/dashboard">
        <mat-icon aria-label="QuizApp">school</mat-icon>
        QuizApp
      </a>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Wyloguj</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</main>
