<div class="login-container">
  <form (ngSubmit)="login()" [formGroup]="form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Witaj, zaloguj się!</mat-card-title>
        <mat-card-subtitle>Nie masz konta? <a routerLink="/auth/register">Zarejestruj się!</a></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Adres e-mail" formControlName="email" type="email" required>
          <mat-icon matSuffix>face</mat-icon>
          <mat-error *ngIf="form.get('email').invalid">Wymagany prawidłowy adres email</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Hasło" formControlName="password" type="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="form.get('password').invalid">Wymagane hasło</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
          <mat-icon>verified_user</mat-icon>
          Zaloguj się
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
