<form [formGroup]="form">
  <h1 mat-dialog-title>Nowe zaproszenie</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width-control">
      <input matInput placeholder="Użytkownik" formControlName="user" required [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let u of filteredUsers.users" [value]="u">
          <span>{{u.firstname}} {{u.lastname}}</span> |
          <small>{{u.email}}</small>
        </mat-option>
      </mat-autocomplete>
      <mat-hint align="start">Zacznij wpisywać e-mail (co najmniej 3 znaki)</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width-control">
      <input matInput [matDatepicker]="dateFromPicker" placeholder="Data od" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateFromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width-control">
      <input matInput [matDatepicker]="dateToPicker" placeholder="Data do" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateToPicker></mat-datepicker>
      <mat-error *ngIf="form.get('dateTo').errors && form.get('dateTo').errors['isAfter']">Data końcowa nie może być wcześniejsza niż data początkowa</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="buttons">
    <button type="button" mat-raised-button color="accent" (click)="onCancelClick()">
      <mat-icon>undo</mat-icon>
      Anuluj
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close]="getInvitationData()" cdkFocusInitial>
      <mat-icon>save</mat-icon>
      Dodaj
    </button>
  </div>
</form>
