<mat-horizontal-stepper [linear]="false">

  <mat-step [stepControl]="quizForm">
    <form (ngSubmit)="updateQuiz()" [formGroup]="quizForm">
      <ng-template matStepLabel>Dane quizu</ng-template>
      <div class="quiz-data">
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Nazwa" formControlName="name" required>
          <mat-error *ngIf="quizForm.get('name').invalid">Nazwa wymagana, 3-300 znaków</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="7"
                    placeholder="Opis" formControlName="description" required></textarea>
          <mat-error *ngIf="quizForm.get('description').invalid">Opis wymagany, 5-1000 znaków</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Liczba prób" formControlName="possibleTrials" type="number" required>
          <mat-error *ngIf="quizForm.get('possibleTrials').invalid">Liczba prób wymagana, minimum 1</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Czas na rozwiązanie (w minutach)" formControlName="time" type="number" required>
          <mat-error *ngIf="quizForm.get('time').invalid">Czas na rozwiązanie wymagany, minium 1 minuta</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Liczba pytań do wylosowania" formControlName="questionsToDraw" type="number" required>
          <mat-error *ngIf="quizForm.get('questionsToDraw').invalid">Liczba pytań do wylosowania wymagana, minimum 1</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="isPrivate" class="full-width-control">
          Quiz prywatny
        </mat-checkbox>
      </div>
      <div class="buttons-wrapper">
        <button type="submit" mat-raised-button color="primary" [disabled]="quizForm.invalid || quizForm.disabled">
          <mat-icon>save</mat-icon>
          Zapisz zmiany
        </button>
        <button type="button" mat-raised-button color="warn" [disabled]="!isEditableAndRemovable()" (click)="deleteQuiz()">
          <mat-icon>clear</mat-icon>
          Usuń
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Pytania i odpowiedzi</ng-template>
    <button (click)="openNewQuestionDialog()" mat-flat-button color="primary">
      <mat-icon>create</mat-icon>
      Dodaj pytanie
    </button>
    <mat-list>
      <ng-container *ngFor="let question of quizFullDto.questions; let i = index">
        <mat-list-item>
          <mat-icon mat-list-icon>help</mat-icon>
          <h4 mat-line> Pytanie {{ i+1 }} </h4>
          <p mat-line> {{ question.question.content }} </p>
        </mat-list-item>
        <div class="question-buttons">
          <button mat-stroked-button color="primary" (click)="openQuestionDialog(question.question.id, i)">
            <mat-icon>insert_drive_file</mat-icon>
            Zobacz
          </button>
          <button mat-stroked-button color="warn" *ngIf="isEditableAndRemovable()" (click)="deleteQuestion(question.question.id, i)">
            <mat-icon>clear</mat-icon>
            Usuń
          </button>
          <button mat-stroked-button color="primary" (click)="openNewAnswerDialog(question.question.id, i)">
            <mat-icon>create</mat-icon>
            Dodaj odpowiedź
          </button>
        </div>
        <mat-list class="answers-list" *ngIf="question.answers.length > 0">
          <ng-container *ngFor="let answer of question.answers; let j = index">
            <mat-list-item>
              <mat-icon mat-list-icon *ngIf="answer.isCorrect">check_box</mat-icon>
              <mat-icon mat-list-icon *ngIf="!answer.isCorrect">check_box_outline_blank</mat-icon>
              <h4 mat-line> Odpowiedź {{ j+1 }}</h4>
              <p mat-line> {{ answer.content }} </p>
            </mat-list-item>
            <div class="answer-buttons">
              <button mat-stroked-button color="primary" (click)="openAnswerDialog(answer.id, i, j)">
                <mat-icon>insert_drive_file</mat-icon>
                Zobacz
              </button>
              <button mat-stroked-button color="warn" *ngIf="isEditableAndRemovable()" (click)="deleteAnswer(answer.id, i, j)">
                <mat-icon>clear</mat-icon>
                Usuń
              </button>
            </div>
          </ng-container>
        </mat-list>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Publikuj</ng-template>
    <ng-container *ngIf="isEditableAndRemovable()">
      <p>Twój quiz jest nieopublikowany - niewidoczny dla użytkowników.</p>
      <p>Po publikacji nie będziesz mógł już zmieniać danych quizu, pytań i odpowiedzi.</p>
      <p>Możliwe będzie jedynie dodawanie nowych pytań i odpowiedzi.</p>
      <button type="button" mat-raised-button color="primary" (click)="publish()">
        <mat-icon>share</mat-icon>
        Publikuj
      </button>
    </ng-container>
    <ng-container *ngIf="!isEditableAndRemovable()">
      <p>Twój quiz został już opublikowany (widoczny dla użytkowników), co oznacza, że nie możesz już zmieniać danych quizu, pytań i odpowiedzi.</p>
      <p>Możesz jedynie dodawać nowe pytania i odpowiedzi.</p>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>
