@import "~src/mixins.scss";

form {
  @include align-center();
}

.quiz-data {
  min-width: 150px;
  max-width: 500px;
  @include align-left();
}

.buttons-wrapper {
  margin-top: 15px;
  min-width: 150px;
  max-width: 500px;
  @include align-right();
  button {
    margin-left: 8px;
  }
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.question-buttons, .answer-buttons {
  margin-left: 40px;
  padding-left: 20px;
  button {
    margin-right: 8px;
  }
}

.answers-list {
  margin-left: 40px;
}

mat-divider {
  margin-top: 10px;
}
