@import "~src/mixins.scss";
@import "~src/theme.scss";

:host {
  height: 100%;
  width: 100%;
  display: block;
}

.register-container {
  form {
    min-width: 150px;
    max-width: 500px;
    mat-card-title {
      color: mat-color($primary);
    }
    a {
      text-decoration: none;
      color: mat-color($primary);
      font-weight: 500;
      &:hover, &:active {
        text-decoration: underline;
        color: mat-color($primary);
      }
    }
    @include center-element();
  }
  width: 100%;
}
