<div class="register-container">
  <form (ngSubmit)="register()" [formGroup]="form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Witaj, zarejestruj się!</mat-card-title>
        <mat-card-subtitle>Masz już konto? <a routerLink="/auth/login">Zaloguj się</a></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Adres e-mail" formControlName="email" type="email" required>
          <mat-icon matSuffix>face</mat-icon>
          <mat-error *ngIf="form.get('email').invalid">Wymagany prawidłowy adres email</mat-error>
        </mat-form-field>
        <ng-container formGroupName="password">
          <mat-form-field class="full-width-control">
            <input matInput placeholder="Hasło" formControlName="password1" type="password" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.get('password').get('password1').invalid">Wymagane hasło, 5-25 znaków</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-control">
            <input matInput placeholder="Powtórz hasło" formControlName="password2" type="password" required>
            <mat-error *ngIf="form.get('password').get('password2').invalid && !form.get('password').get('password2').errors['mustEqual'] ">Wymagane powtórzenie hasła, 5-25 znaków</mat-error>
            <mat-error *ngIf="form.get('password').get('password2').errors && form.get('password').get('password2').errors['mustEqual']">Hasła muszą być takie same</mat-error>
          </mat-form-field>
        </ng-container>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Imię" formControlName="firstname" type="text" required>
          <mat-error *ngIf="form.get('firstname').invalid">Wymagane imię, 2-35 znaków</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-control">
          <input matInput placeholder="Nazwisko" formControlName="lastname" type="text" required>
          <mat-error *ngIf="form.get('lastname').invalid">Wymagane nazwisko, 2-35 znaków</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
          <mat-icon>person_add</mat-icon>
          Zarejestruj się
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
