<form [formGroup]="form">
  <h1 mat-dialog-title>Nowa odpowiedź</h1>
  <div mat-dialog-content>
    <mat-checkbox formControlName="isCorrect" class="full-width-control">
      Odpowiedź poprawna
    </mat-checkbox>
    <mat-form-field class="full-width-control">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="7"
                  placeholder="Treść" formControlName="content" required></textarea>
      <mat-error *ngIf="form.get('content').invalid">Treść wymagana, 5-1000 znaków</mat-error>
    </mat-form-field>
    <div *ngIf="attachment" class="attachment-buttons">
      <button type="button" mat-stroked-button color="primary" (click)="downloadAttachment()">
        <mat-icon>attachment</mat-icon>
        Pobierz załącznik
      </button>
      <button type="button" mat-stroked-button color="warn" (click)="removeAttachment()">
        <mat-icon>close</mat-icon>
        Usuń załącznik
      </button>
    </div>
    <div *ngIf="!attachment">
      <input #fileInput type="file" [hidden]="true" (change)="onFileChanged($event)">
      <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()">
        <mat-icon>attachment</mat-icon>
        Dodaj załącznik
      </button>
    </div>
  </div>
  <div mat-dialog-actions class="buttons">
    <button type="button" mat-raised-button color="accent" (click)="onCancelClick()">
      <mat-icon>undo</mat-icon>
      Anuluj
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close]="getAnswerData()" cdkFocusInitial>
      <mat-icon>save</mat-icon>
      Dodaj
    </button>
  </div>
</form>
