<mat-card (click)="change()" class="answer">
  <mat-card-header>
    <mat-checkbox mat-card-avatar [(ngModel)]="checked" (click)="$event.preventDefault()">Odpowiedź {{ order }}</mat-checkbox>
  </mat-card-header>
  <mat-card-content >
    <p>{{ trialAnswer.content }}</p>
    <img class="panel-img" *ngIf="shouldDisplayAttachmentInline()" src="{{ displayInlineContent() }}" alt="Załącznik pytania">
    <button *ngIf="shouldDisplayDownloadButton()" type="button" mat-stroked-button color="primary" (click)="downloadAttachment()">
      <mat-icon>attachment</mat-icon>
      Pobierz załącznik
    </button>
  </mat-card-content>
</mat-card>
