<div class="invitation-info">
  <mat-card>
    <mat-card-header *ngIf="isCreatorView">
      <mat-icon mat-card-avatar class="big-light-icon">person</mat-icon>
      <mat-card-title>{{ invitation.user?.firstname }} {{ invitation.user?.lastname}}</mat-card-title>
      <mat-card-subtitle>{{ invitation.user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="!isCreatorView">
      <mat-icon mat-card-avatar class="big-light-icon">person</mat-icon>
      <mat-card-title>{{ invitation.quiz?.name }}</mat-card-title>
      <mat-card-subtitle>Liczba pytań: {{ invitation.quiz?.questionsToDraw }}, czas na rozwiązanie: {{ invitation.quiz?.time }} minut(y), liczba możliwych podejść: {{ invitation.quiz?.possibleTrials }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span class="info-label">Data od: </span>
        <span>{{ invitation.dateFrom ? invitation.dateFrom.format('dddd, D MMMM YYYY') : 'zawsze'}}</span>
      </p>
      <p>
        <span class="info-label">Data do: </span>
        <span>{{ invitation.dateTo ? invitation.dateTo.format('dddd, D MMMM YYYY') : 'zawsze'}}</span>
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="!isCreatorView" class="buttons">
      <button type="button" mat-raised-button color="primary" (click)="solveQuiz()" [disabled]="!isInvitationValid()">
        <mat-icon>question_answer</mat-icon>
        Rozwiąż quiz
      </button>
    </mat-card-actions>
  </mat-card>
</div>
