<mat-toolbar color="primary" class="toolbar-no-filter">
  Zaproszenia do quizu
</mat-toolbar>

<button (click)="openNewInvitationDialog()" mat-flat-button color="accent" class="new-button">
  <mat-icon>how_to_reg</mat-icon>
  Zaproś użytkownika
</button>

<ng-container *ngFor="let invitation of invitationListDto.invitations">
  <qa-view-invitation-item [isCreatorView]="true" [invitation]="invitation"></qa-view-invitation-item>
</ng-container>

<mat-paginator #paginator
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25]"
               [length]="invitationListDto.totalCount"
               [pageIndex]="pageIndex"
               (page)="changePage($event)"
               color="primary"
               class="paginator">
</mat-paginator>
