<mat-toolbar color="primary" class="toolbar-no-filter">
  Twoje zaproszenia do quizów
</mat-toolbar>

<ng-container *ngFor="let invitation of invitationListDto.invitations">
  <qa-view-invitation-item [isCreatorView]="false" [invitation]="invitation"></qa-view-invitation-item>
</ng-container>

<mat-paginator #paginator
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25]"
               [length]="invitationListDto.totalCount"
               [pageIndex]="pageIndex"
               (page)="changePage($event)"
               color="primary"
               class="paginator">
</mat-paginator>
