@import "~src/mixins.scss";

:host {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include align-center();
}

form {
  @include align-left();
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
