<form (ngSubmit)="createQuiz()" [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nowy quiz</mat-card-title>
      <mat-card-subtitle>Wypełnij formularz parametrami nowego quizu, pytania będziesz mógł dodać później</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-control">
        <input matInput placeholder="Nazwa" formControlName="name" required>
        <mat-error *ngIf="form.get('name').invalid">Nazwa wymagana, 3-300 znaków</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="7"
                  placeholder="Opis" formControlName="description" required></textarea>
        <mat-error *ngIf="form.get('description').invalid">Opis wymagany, 5-1000 znaków</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput placeholder="Liczba prób" formControlName="possibleTrials" type="number" required>
        <mat-error *ngIf="form.get('possibleTrials').invalid">Liczba prób wymagana, minimum 1</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput placeholder="Czas na rozwiązanie (w minutach)" formControlName="time" type="number" required>
        <mat-error *ngIf="form.get('time').invalid">Czas na rozwiązanie wymagany, minium 1 minuta</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput placeholder="Liczba pytań do wylosowania" formControlName="questionsToDraw" type="number" required>
        <mat-error *ngIf="form.get('questionsToDraw').invalid">Liczba pytań do wylosowania wymagana, minimum 1</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="isPrivate" class="full-width-control">
        Quiz prywatny
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button color="accent" (click)="goBackToList()">
        <mat-icon>undo</mat-icon>
        Anuluj
      </button>
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
        Dodaj
      </button>
    </mat-card-actions>
  </mat-card>
</form>
