<mat-card class="stats-card">
  <mat-card-header>
    <mat-icon class="big-light-icon" mat-card-avatar>poll</mat-icon>
    <mat-card-title>Statystyka quizu</mat-card-title>
    <mat-card-subtitle>Quiz: {{ statistics.quizName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="stats">
      <span class="stats-label">Liczba użytkowników, którzy rozwiązali quiz: </span>
      <span class="stats-value">{{ statistics.usersNumber }}</span>
    </p>
    <p class="stats">
      <span class="stats-label">Liczba prób: </span>
      <span class="stats-value">{{ statistics.trialsNumber }}</span>
    </p>
    <p class="stats">
      <span class="stats-label">Średni czas: </span>
      <span class="stats-value">{{ statistics.avgTime }}</span>
    </p>
    <table class="stats-table">
      <thead>
        <tr>
          <th></th>
          <th>Wszystkie wyniki</th>
          <th>Wysłane przed końcem czasu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Najlepszy</td>
          <td>{{ statistics.maxPoints }}</td>
          <td>{{ statistics.maxPointsTimeOk }}</td>
        </tr>
        <tr>
          <td>Najgorszy</td>
          <td>{{ statistics.minPoints }}</td>
          <td>{{ statistics.minPointsTimeOk }}</td>
        </tr>
        <tr>
          <td>Średni</td>
          <td>{{ statistics.avgPoints }}</td>
          <td>{{ statistics.avgPointsTimeOk }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-raised-button color="primary" (click)="goBackToList()">
      <mat-icon>undo</mat-icon>
      Wróć do listy quizów
    </button>
  </mat-card-actions>
</mat-card>
