<mat-card class="stats-card">
  <mat-card-header>
    <mat-icon class="big-light-icon" mat-card-avatar>poll</mat-icon>
    <mat-card-title>Statystyka quizu</mat-card-title>
    <mat-card-subtitle>Quiz: {{ statistics.commonStatistics.quizName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="stats">
      <span class="stats-label">Liczba użytkowników, którzy rozwiązali quiz: </span>
      <span class="stats-value">{{ statistics.commonStatistics.usersNumber }}</span>
    </p>
    <p class="stats">
      <span class="stats-label">Liczba prób: </span>
      <span class="stats-value">{{ statistics.commonStatistics.trialsNumber }}</span>
    </p>
    <p class="stats">
      <span class="stats-label">Średni czas: </span>
      <span class="stats-value">{{ statistics.commonStatistics.avgTime }}</span>
    </p>
    <table class="stats-table">
      <thead>
        <tr>
          <th></th>
          <th>Wszystkie wyniki</th>
          <th>Wysłane przed końcem czasu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Najlepszy</td>
          <td>{{ statistics.commonStatistics.maxPoints }}</td>
          <td>{{ statistics.commonStatistics.maxPointsTimeOk }}</td>
        </tr>
        <tr>
          <td>Najgorszy</td>
          <td>{{ statistics.commonStatistics.minPoints }}</td>
          <td>{{ statistics.commonStatistics.minPointsTimeOk }}</td>
        </tr>
        <tr>
          <td>Średni</td>
          <td>{{ statistics.commonStatistics.avgPoints }}</td>
          <td>{{ statistics.commonStatistics.avgPointsTimeOk }}</td>
        </tr>
      </tbody>
    </table>
    <table class="stats-table">
      <thead>
        <tr>
          <th rowspan="2">Nr</th>
          <th rowspan="2">Czas</th>
          <th colspan="2">Punkty</th>
          <th colspan="2">Ranking</th>
        </tr>
        <tr>
          <th>Wszystkie</th>
          <th>Przed czasem</th>
          <th>Wszystkie</th>
          <th>Przed czasem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trial of statistics.trialsStats; let i = index">
          <td>{{ i+1 }}</td>
          <td [ngStyle]="{'color': trial.isTimeOk ? '#00FF00' : '#FF1919'}">{{ trial.time }}</td>
          <td>{{ trial.points }}</td>
          <td>{{ trial.pointsTimeOk }}</td>
          <td>{{ trial.rank}}</td>
          <td>{{ trial.rankTimeOk}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-raised-button color="primary" (click)="goBackToList()">
      <mat-icon>undo</mat-icon>
      Wróć do listy quizów
    </button>
  </mat-card-actions>
</mat-card>
