@import "~src/mixins.scss";

:host {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include align-center();
}

.stats-card {
  @include align-left();
  width: 550px;
}
