<mat-card class="question-panel">
  <mat-card-header>
    <mat-icon class="big-light-icon" mat-card-avatar>help_outline</mat-icon>
    <mat-card-title>Pytanie {{ trialQuestion.currentQuestionNumber }} z {{ trialQuestion.allQuestions }}</mat-card-title>
    <mat-card-subtitle>Możesz zdobyć {{ trialQuestion.question?.points }} pkt</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="content">{{ trialQuestion.question?.content }}</p>
    <img class="panel-img" *ngIf="shouldDisplayAttachmentInline()" src="{{ displayInlineContent() }}" alt="Załącznik pytania">
    <button *ngIf="shouldDisplayDownloadButton()" type="button" mat-stroked-button color="primary" (click)="downloadAttachment()">
      <mat-icon>attachment</mat-icon>
      Pobierz załącznik
    </button>
  </mat-card-content>
</mat-card>
