<div class="quiz-info">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar *ngIf="!quiz.isPrivate" class="big-light-icon">public</mat-icon>
      <mat-icon mat-card-avatar *ngIf="quiz.isPrivate" class="big-light-icon">vpn_lock</mat-icon>
      <mat-card-title>{{ quiz.name }}</mat-card-title>
      <mat-card-subtitle>Liczba pytań: {{ quiz.questionsToDraw }}, czas na rozwiązanie: {{ quiz.time }} minut(y), liczba możliwych podejść: {{ quiz.possibleTrials }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="view != quizViewEnum.CREATOR">
        <span class="info-label">Autor: </span>
        <span>{{ quiz.creator.firstname + ' ' + quiz.creator.lastname }}</span>
      </p>
      <p>
        <span class="info-label">Opis: </span>
        <span>{{ quiz.description }}</span>
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="view == quizViewEnum.CREATOR">
      <button type="button" mat-flat-button color="primary" (click)="viewQuiz()">
        <mat-icon>insert_drive_file</mat-icon>
        Zobacz
      </button>
      <button type="button" mat-stroked-button color="primary" (click)="viewQuizInvitations()" *ngIf="!quiz.inPreparation">
        <mat-icon>people</mat-icon>
        Zaproszenia
      </button>
      <button type="button" mat-stroked-button color="primary" (click)="viewStatistics()" *ngIf="!quiz.inPreparation">
        <mat-icon>poll</mat-icon>
        Statystyki
      </button>
    </mat-card-actions>
    <mat-card-actions *ngIf="view == quizViewEnum.PUBLIC || view == quizViewEnum.SOLVED">
      <button type="button" mat-flat-button color="primary" (click)="solveQuiz()">
        <mat-icon>assignment</mat-icon>
        {{ view == quizViewEnum.PUBLIC ? 'Rozwiąż' : 'Rozwiąż jeszcze raz' }}
      </button>
      <button type="button" mat-stroked-button color="primary" (click)="viewStatistics()">
        <mat-icon>poll</mat-icon>
        Statystyki
      </button>
    </mat-card-actions>
  </mat-card>
</div>
