<mat-toolbar color="primary">
  Pozostały czas: <span [ngStyle]="{'color': afterTime ? '#FF1919' : '#00FF00'}">&nbsp;{{ afterTime ? '&#8722;': ''}}{{ quizTime }}</span>
</mat-toolbar>
<qa-view-trial-question [trialQuestion]="trialQuestionDto"></qa-view-trial-question>
<ng-container *ngFor="let answer of trialQuestionDto.answers; let i = index">
  <qa-view-trial-answer [trialAnswer]="answer" [order]="i+1" (isChecked)="changeChecked(answer, $event)"></qa-view-trial-answer>
</ng-container>
<mat-card class="send-action">
  <button type="button" mat-flat-button color="primary" [disabled]="trialQuestionDto.id == null" (click)="sendAnswer()">
    <mat-icon>send</mat-icon>
    Wyślij odpowiedź
  </button>
</mat-card>
