@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin align-left {
  text-align: left;
  text-align: -webkit-left;
  text-align: -moz-left;
}

@mixin align-right {
  text-align: right;
  text-align: -webkit-right;
  text-align: -moz-right;
}

@mixin align-center {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
