/* You can add global styles to this file, and also import other style files */
@import "~src/theme.scss";

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
}

.bg {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("./assets/background.jpg") no-repeat center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.full-width-control {
  width: 100%;
}

mat-card-actions {
  text-align: right;
  text-align: -webkit-right;
  text-align: -moz-right;
}

.buttons {
  justify-content: flex-end;
}

.attachment-buttons {
  button:not(:last-child) {
    margin-right: 8px;
  }
}

.big-light-icon {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.54);
}

.filter-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 10px;
}

.toolbar-no-filter {
  margin-bottom: 10px;
}

.paginator {
  margin-top: 10px;
}

.panel-img {
  max-width: 90%;
  max-height: 70vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  .stats-label {
    font-size: 16px;
    font-weight: 500;
  }
  .stats-value {
    font-weight: 500;
    font-size: 18px;
    color: mat-color($primary);
  }
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  th {
    font-weight: 500;
  }
  td, th {
    border: 1px solid rgba(0, 0, 0, 0.87);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
