

<div class="menu-row">
  <a routerLink="/quiz/new" class="menu-list-item">
    <mat-card>
      <mat-card-header>
        <mat-icon class="menu-icon" mat-card-avatar>add_box</mat-icon>
        <mat-card-title>Dodaj quiz</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Utwórz nowy quiz - publiczny lub prywatny</p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
<div class="menu-row">
  <a routerLink="/quiz/created" class="menu-list-item">
    <mat-card>
      <mat-card-header>
        <mat-icon class="menu-icon" mat-card-avatar>create_new_folder</mat-icon>
        <mat-card-title>Utworzone quizy</mat-card-title>
      </mat-card-header>
      <mat-card-content>Przeglądaj utworzone przez Ciebie quizy</mat-card-content>
    </mat-card>
  </a>
</div>
<div class="menu-row">
  <a routerLink="/quiz/public" class="menu-list-item">
    <mat-card>
      <mat-card-header>
        <mat-icon class="menu-icon" mat-card-avatar>question_answer</mat-icon>
        <mat-card-title>Rozwiąż quiz</mat-card-title>
      </mat-card-header>
      <mat-card-content>Znajdź quiz publiczny i rozwiąż go</mat-card-content>
    </mat-card>
  </a>
</div>
<div class="menu-row">
  <a routerLink="/quiz/solved" class="menu-list-item">
    <mat-card>
      <mat-card-header>
        <mat-icon class="menu-icon" mat-card-avatar>view_list</mat-icon>
        <mat-card-title>Rozwiązane quizy</mat-card-title>
      </mat-card-header>
      <mat-card-content>Zobacz rozwiązane przez Ciebie quizy</mat-card-content>
    </mat-card>
  </a>
</div>
<div class="menu-row">
  <a routerLink="/quiz/invitation" class="menu-list-item">
    <mat-card>
      <mat-card-header>
        <mat-icon class="menu-icon" mat-card-avatar>insert_invitation</mat-icon>
        <mat-card-title>Twoje zaproszenia</mat-card-title>
      </mat-card-header>
      <mat-card-content>Zobacz otrzymane zaproszenia do quizów</mat-card-content>
    </mat-card>
  </a>
</div>
