.menu-row {
  display: flex;
  justify-content: center;
  .menu-list-item {
    width: 300px;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    text-decoration: none;
    .menu-icon {
      color: rgba(0, 0, 0, 0.54);
      font-size: 35px;
    }
  }
}
