<mat-toolbar color="primary">
  Utworzone przez Ciebie quizy
</mat-toolbar>
<form (ngSubmit)="filter()" [formGroup]="form">
  <mat-card class="filter-card">
    <mat-card-content>
      <mat-form-field class="full-width-control">
        <input matInput placeholder="Nazwa (zawiera)" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="7"
                  placeholder="Opis (zawiera)" formControlName="description"></textarea>
      </mat-form-field>
      <mat-checkbox formControlName="inPreparation" class="full-width-control">
        W przygotowaniu
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary">
        <mat-icon>filter_list</mat-icon>
        Filtruj
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<ng-container *ngFor="let quiz of quizListDto.quizzes">
  <qa-view-quiz-item [view]="quizView.CREATOR" [quiz]="quiz"></qa-view-quiz-item>
</ng-container>

<mat-paginator #paginator
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25]"
               [length]="quizListDto.totalCount"
               [pageIndex]="pageIndex"
               (page)="changePage($event)"
               color="primary"
               class="paginator">
</mat-paginator>
